/************************ menu.js *********************/

.orderHead {
    padding: 20px;
}

.orderHead span {
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid black;
}

.quickAdd button {
    background: #0C0;
    padding: 5px 15px;
    border-radius: 55px;
    font-size: 14px;
    font-weight: 500;
}

.discounts {
    background-color: rgba(147, 238, 10, 0.2);
}

.discounts .offer {
    font-weight: 500;
    font-size: 18px;
}

.discounts .offerDescription {
    color: #0C0;
    font-weight: 500;
    font-size: 16px;
}

/************************ menuItemCard *********************/

.menuItems {
    display: flex;
    overflow: scroll;
    height: 280px;
}

.menuItemCard {
    width: 210px;
    height: 210px;
    border-radius: 2%;
    box-shadow: 2px 2px 4px 5px #ccc;
}

.menuItemCard .imageDiv img {
    border-radius: 2% 2% 0 0;
    height: 130px;
    width: 210px;
}

.menuItemCard .menuDetails .itemName {
    font-size: 16px;
    font-weight: 600;
}

.menuItemCard .menuDetails .customers {
    color: blue;
    font-weight: 500;
}

.menuItemCard .menuDetails .menuReward {
    color: purple;
}

/************************ SearchMenuItem *********************/

.searchMenuItem .searchBar i {
    font-size: 20px;
}

.searchMenuItem .searchBar input {
    border: none;
}

.searchMenuItem .searchBar input:focus {
    outline: none;
}

.searchMenuItem .searchBar button {
    background: #0C0;
    padding: 5px 15px;
    border-radius: 55px;
    font-size: 14px;
    font-weight: 500;
}

/************************ menuItem *********************/

.menuItem .name {
    font-weight: 500;
}

.menuItem .price {
    font-weight: 500;
    text-decoration: line-through;
}

.menuItem .offer, .menuItem .offerPrice {
    color: #0C0;
    font-weight: 500;
    font-size: 16px;
}

.menuItem .description {
    font-size: 12px;
}

.menuItem .reward {
    color: purple;
}

.menuItem button {
    background: none;
    color: #0C0;
    border: #0C0 1px solid;
    padding: 0px 10px;
    border-radius: 55px;
    font-size: 12px;
}