.startScreen {
    background-color: black;
    position: absolute;
    top: -150px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.startScreen .startButton {
    border-radius: 0% 25% 0% 25%;
    padding-left: 25px;
    padding-right: 25px;
}

.loginForm .number {
    border-radius: 5px;
    width: 220px;
}

.loginForm .number span {
    padding: 6px;
    position: absolute;
    color: black;
}

.loginForm .number input {
    margin-left: 35px;
    padding-left: 10px;
    letter-spacing: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loginForm .otp {
    letter-spacing: 25px;
    border-radius: 5px;
    width: 220px;
}

.loginForm .otp input {
    letter-spacing: 25px;
    text-align: center;
}

.loginForm .otpOption {
    width: 220px;
}

.loginForm .otpOption {
    width: 220px;
}

.loginForm input:focus {
    outline: none;
}

.loginForm button {
    width: 220px;
    color: white;
    border-radius: 5px;
    background-color: #5B5B5B;
    background: linear-gradient(136.32deg, rgba(255,255,255,0.76) 100%, #3A3C40 0%);
    font-weight: 500;
}